CRAIG TEMPLATE.json
{
  "name": "CRAIG TEMPLATE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f6295ced-419d-40df-b0dd-87fcf333da7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "5bd0fdbc-c60b-4a62-b6cf-293f2a8e7abf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "channelId": {
          "__rl": true,
          "value": "1417295310136545342",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1417295308878250177/1417295310136545342"
        },
        "content": "possible snow day tomorrow!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1248,
        -48
      ],
      "id": "06b55b34-7512-440c-bb6e-c44b9122d7b6",
      "name": "Send a message",
      "webhookId": "6614678c-9893-44c5-8e5f-511d4f41e22c",
      "executeOnce": false,
      "credentials": {
        "discordBotApi": {
          "id": "RhNLnOWbVYzI9sM9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "school",
              "cssSelector": "p.text--primary.js-sort-value",
              "returnArray": true
            },
            {
              "key": "date",
              "cssSelector": "p.text--secondary:nth-of-type(2)",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "155828df-b90c-498f-b738-cfd85761b7b8",
      "name": "HTML"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "channelId": {
          "__rl": true,
          "value": "1417295310136545342",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1417295308878250177/1417295310136545342"
        },
        "content": "School closed today!!!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        128
      ],
      "id": "3972b128-d50b-42a2-b64c-8299a4a24ad4",
      "name": "Send a message1",
      "webhookId": "1157b827-b074-4c33-a800-f9d05730f0f9",
      "credentials": {
        "discordBotApi": {
          "id": "RhNLnOWbVYzI9sM9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42c1f696-940c-4e6b-a49f-53b4975981b2",
              "leftValue": "=school {{ $json.school }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b4afce70-5691-4035-b742-6fc3f8fdcd34",
              "leftValue": "={{ $json.date }}",
              "rightValue": "Closed Tomorrow",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "19859d88-35da-4e0a-b3df-461680d5cd37",
      "name": "Closed Tomorrow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b657408b-05f3-4eac-aabe-da15acf123b0",
              "leftValue": "={{ $json.school }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "eccf9840-5b8e-4cfe-bc1b-cee76ad82cd7",
              "leftValue": "={{ $json.school[42] }}",
              "rightValue": "Closed Today",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        128
      ],
      "id": "f2cd201d-8bc5-43ac-936a-54e28bf9cb1a",
      "name": "Closed Today"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "46bca622-87f5-4caa-86b9-85a1accfc260",
              "leftValue": "={{ $json.school }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "b5266da0-1500-4eac-9ea0-04b174ef4819",
              "leftValue": "={{ $json.date }}",
              "rightValue": "2 Hours",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        272
      ],
      "id": "6b71c60c-5d9e-4a37-b671-ddbb56fdb4b3",
      "name": "2 Hrs Delay"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "channelId": {
          "__rl": true,
          "value": "1417295310136545342",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1417295308878250177/1417295310136545342"
        },
        "content": "2 Hours Delay ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        272
      ],
      "id": "d999ca98-b470-40df-ad54-2df6f242275f",
      "name": "Send a message2",
      "webhookId": "fd4b4b2c-617b-4b41-82ac-8743fdaff785",
      "credentials": {
        "discordBotApi": {
          "id": "RhNLnOWbVYzI9sM9",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Closed Tomorrow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Closed Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "2 Hrs Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closed Tomorrow": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closed Today": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "2 Hrs Delay": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e856011-e47c-480c-96c8-7daddc4d84e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a30fdd78d1b5b89489cca39b55a7762b1807f646609079cd2fbc5c6e7497d087"
  },
  "id": "8BbIflcFgGfMjaCM",
  "tags": []
}